@page
@model Chatter.Api.Pages.Message.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Messages</h1>

<h2>Send message</h2>
@*<partial name="Page/Message/SendMessage">*@
@*<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
        </tr>
    </tbody>
</table>*@