@page
@model Chatter.Api.Pages.Message.SendMessageModel

    <div class="row">
        <div class="col-md-4">
            <h1 class="mt-t mb-3">send message</h1>
            <asp-route></asp-route>
            <form asp-route="Send">
                <input type="hidden" asp-for="Input.By" />
                <div class="form-group">
                    <label asp-for="Input.Text"></label>
                    <input class="form-control" asp-for="Input.Text" />
                </div>
                <div class="mt-4 mb-4">
                    <button class="btn btn-primary" value="send">send</button>
                </div>
            </form>
        </div>
    </div>